header { 
    width: 100%;
    position: fixed;
    height: 44px;
    top: 0;
    padding: 10px 16px;
    background-color: #fff;
    z-index: 9;
}
header img {
    float: left;
}
header nav {
    float: right;
}

header nav .menu ul {
    /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/
    width: 100%;
    position: absolute;
    top: 45px;
    right: 0%;
    overflow: hidden;
    list-style: none;
    background: #0000EC;
    height: 0;

    li {
        a {
            position: relative;
            text-decoration: none;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 16px;
            font-weight: 100;
            padding-bottom: 24px;
            padding-left: 16px;
            color: white;
            line-height: 28px;
            display: block;
        }
    
        .episodios {
            padding-top: 16px;
            padding-bottom: 24px;
        }
    }
}


header nav .menu  ul li {
    position: relative;
} 


header nav .menu  ul li a:hover {
    color: #fff;
} 

header nav .menu input[type="checkbox"]:checked ~ ul {
    height: 224px;  
}


main .bienvenida article h1 {
    padding-top: 200px;
}

header nav .menu {
    padding-top: 6px;
    padding-right: 3px;
}


/*checkbox transparente y en primer plano*/
header nav .menu input {
    display: block;
    width: 18px;
    height: 12px;
    opacity: 0;
    z-index: 2;
    position: absolute;
}
/*span -lineas del menu hamburguesa-*/
header nav .menu span {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 3px;
    position: relative;
    background: #000;
    z-index: 1;
    transform-origin: 3px 0px;
}
header nav .menu span:first-child {
    transform-origin: 0% 0%;
}
header nav .menu span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
/*movimiento a cruz*/
header nav .menu input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(3px, 1px);
}
header nav .menu input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
header nav .menu input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0.5px, 3px);
}
/*menu simple con tamaño menor a 321px*/
@media screen and (min-width: 481px){
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: white;
        z-index: 5;
        padding: 0;

        img {
            width: 36px;
            height: 36px;
            margin-left: 100px;
            margin-top: 22px;
        }

        nav {
            .menu  {
                
                ul  {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    width: 100%;
                    height: 80px;
                    overflow: unset;
                    background: none;
                    top: 0;
                    li {
                        padding-left: 48px;
                        list-style: none;
                        float: right;
                        a {
                            color: black;
                            line-height: 80px;
                            padding: 0;
                            
                        }
                        a:hover {
                            color: #00F3BB;
                            
                        }
                        .episodios {
                            padding: 0;
                        }
                        .topicos {
                            padding-right: 100px;
                        }
                    }
                }
            }


        } 

    }

 


    header nav .menu input {
        display: none;
    }
    header nav .menu span {
        display: none;
    }
}

